@model WebApplication4.ViewModels.Auth.LoginViewModel
@{
  Layout = "";
}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SisMed</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />

    <link
      rel="stylesheet"
      href="~/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="~/css/adminlte.min.css"
    />
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>Sis</b>Med</a>
      </div>

      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Entre com as suas credenciais</p>
          <form method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Usuário" asp-for="Username" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Senha"
                asp-for="Senha"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              @* <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember" />
                  <label for="remember"> Remember Me </label>
                </div>
              </div> *@

              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">
                  Entrar
                </button>
              </div>
            </div>
          </form>
      </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
  </body>
</html>
