<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 text-danger">
                <h1>Erro interno</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="card card-outline card-danger">
        <div class="card-body">
            Encontramos um erro ao processar sua solicitação. Por favor, entre em contato com nossa equipe.
        </div>
    </div>
</section>