@model IEnumerable<WebApplication4.ViewModels.Usuario.ListaUsuarioViewModel>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Usuários</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <a href="/usuarios/adicionar" class="btn btn-outline-primary btn-sm">Novo médico</a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                          @foreach (var usuario in Model)
                          {
                            <tr>
                              <td>@usuario.Id</td>
                              <td>@usuario.Username</td>
                              <td>@usuario.Email</td>
                              <td>@usuario.Telefone</td>
                              <td>
                                <a href="#" class="btn btn-sm btn-secondary mr-1" title="Editar">
                                  <span class="fas fa-edit"></span>
                                </a>

                                <a href="#" class="btn btn-sm btn-danger" title="Excluir">
                                  <span class="fas fa-trash"></span>
                                </a>
                              </td>
                            </tr>
                          }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->